.recipeCard {
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    background: honeydew;
}

.pOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}